<!doctype html>
<html lang="en" class="h-100">

<head>
    <% include ../views/include/head %>
</head>

<body class="d-flex flex-column h-100">
    <% include ../views/include/nav %>
    <main role="main" class="flex-shrink-0 mt-5">
        <div class="container">
            <h1><%= title %> 
            <small>
            <button class="btn btn-outline-secondary btn-sm" id="refresh-db">Refresh database</button>
            <button class="btn btn-outline-secondary btn-sm" id="force-refresh-db">Force refresh database</button>
            </small></h1>
            <div class="row">
                <div class="col-4 text-center">
                    <h2>Blocks</h2>
                    <h3><span class="badge badge-info"><%- (blocks ? blocks.length : 0) %></span></h3>
                </div>
                <div class="col-4 text-center">
                    <h2>Batches</h2>
                    <h3><span class="badge badge-info"><%- (batches ? batches.length : 0) %></span></h3>
                </div>
                <div class="col-4 text-center">
                    <h2>Transactions</h2>
                    <h3><span class="badge badge-info"><%- (transactions ? transactions.length : 0) %></span></h3>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-4">
                <ul>
                    <li>api url: <%- config.sawtooth.apiurl %></li>
                </ul>
                </div>
            </div>
        </div>
    </main>
    <% include ../views/include/footer %>

</body>
</html>